#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #987caa;
  color: #edf2f7;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}